<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 text-danger fw-bold">NG Contacts
                <a class="btn btn-danger btn-sm" routerLink="/contacts/add"><li class="fa fa-plus-circle"></li> New</a>
            </p>
            <p class="fst-italic">
                del is a keyword in Python that is used to delete a reference to an object.
                When you use del to remove a reference to an object, it does not necessarily immediately destroy the object itself. Instead, it decrements the reference count of the object.
            </p>
            <form action="">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Search User">
                            </div>
                            <div class="col">
                                <input type="submit" class="btn btn-outline-dark" value="Search">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- <pre>{{contacts | json}}</pre> -->


<!-- Loading Spinner -->
<div *ngIf="loading">
    <app-spinner></app-spinner>    
</div>

<!-- Error Message -->
<div *ngIf="!loading && errorMessage">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
            </div>
        </div>
    </div>
</div>


<!-- Cards -->
<div *ngIf="!loading && contacts.length > 0" class="container mt-3">
    <div class="row">
        <div *ngFor="let contact of contacts" class="col-md-6">
            <div class="card list-group-item-danger shadow-lg my-2">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-sm-4">
                            <img [src]="contact.photo" alt="" class="contact-img">
                        </div>
                        <div class="col-sm-7">
                            <ul class="list-group">
                                <li class="list-group-item">Name : <span class="fw-bold">{{contact.name}}</span></li>
                                <li class="list-group-item">Email : <span class="fw-bold">{{contact.email}}</span></li>
                                <li class="list-group-item">Mobile : <span class="fw-bold">{{contact.mobile}}</span></li>
                            </ul>
                        </div>
                        <div class="col-sm-1 d-flex flex-column align-items-center justify-content-center">
                            <a class="btn btn-warning my-1" routerLink="/contacts/view/{{contact.id}}">
                                <li class="fa fa-eye"></li>
                            </a>
                            <a class="btn btn-primary my-1" routerLink="/contacts/edit/{{contact.id}}">
                                <li class="fa fa-pen"></li>
                            </a>
                            <button class="btn btn-danger my-1" (click)="clickDeleteContact(contact.id)">
                                <li class="fa fa-trash-alt"></li>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<!-- "photo": "https://images.unsplash.com/photo-1508921912186-1d1a45ebb3c1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80", -->
