<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Add Contact</p>
            <p class="fst-italic">NumPy, which stands for "Numerical Python," is a fundamental Python library for numerical computing. It provides support for large, multi-dimensional arrays and matrices, as well as a wide range of mathematical functions to operate on these arrays efficiently. NumPy is a cornerstone of the Python scientific computing ecosystem and is widely used in various fields, including data science, machine learning, scientific research, and engineering.</p>
        </div>
    </div>
</div>

<!-- Create Contact Form -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form action="">
                <div class="mb-2">
                    <input class="form-control" placeholder="Name" type="text">
                </div>
                <div class="mb-2">
                    <input class="form-control" placeholder="Photo Url" type="text">
                </div>
                <div class="mb-2">
                    <input class="form-control" placeholder="Email" type="email">
                </div>
                <div class="mb-2">
                    <input class="form-control" placeholder="Mobile" type="number">
                </div>
                <div class="mb-2">
                    <input class="form-control" placeholder="Company" type="text">
                </div>
                <div class="mb-2">
                    <input class="form-control" placeholder="Title" type="text">
                </div>
                <div class="mb-2">
                    <select class="form-control">
                        <option value="">Select a Group</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input class="btn btn-danger" value="Create" type="submit">
                    <a routerLink="/" class="btn btn-dark ms-2">Close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
          <img src="https://assets.stickpng.com/images/585e4bcdcb11b227491c3396.png" alt="" class="contact-img">  
        </div>
    </div>
</div>